.footer {
	margin-top: 50px;
	background-color: #e4e4e4;
	height: 50px;
	width: 100%;
	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			padding: 0;
			margin: 0;
		}

		i {
			cursor: pointer;
			&:hover {
				color: #1e2d7d;
			}
		}
	}
}
